@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  min-height: calc(100vh - 65px);
}

.results-container {
  height: calc(100vh - (50vh + 44px + 75px));
}

.queries-container {
  height: 47vh;
}
